<h1 class="mb-1 restaurant-show-title">新增餐廳資料</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto mb-5">
      <form action="/add" method="POST">

        <div class="mb-3">
          <span class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            <label for="name" class="form-label">店名</label>
            <input type="text" class="form-control" id="name" placeholder="請輸入餐廳名稱" name="name"
              value="{{restaurant.name}}" required />
          </span>
        </div>

        <div class="mb-3">
          <span class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            <label for="name_en" class="form-label">英文店名</label>
            <input type="text" class="form-control" id="name_en" placeholder="請輸入餐廳名稱" name="name_en"
              value="{{restaurant.name}}" required />
          </span>
        </div>

        <div class="mb-3">
          <span class="text-secondary">
            <i class="fas fa-bookmark"></i>
            <label for="category" class="form-label">類別</label>
            <input type="text" class="form-control" id="category" placeholder="日本料理、韓式料理、法式餐廳..." name="category"
              value="{{restaurant.category}}" required />
          </span>
        </div>

        <div class="mb-3">
          <span class="text-secondary">
            <label for="image" class="form-label">圖片連結</label>
            <input type="url" class="form-control" id="image" name="image" />
          </span>
        </div>

        <div class="mb-3">
          <span class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            <label for="location" class="form-label">地址</label>
            <input type="text" class="form-control" id="location" placeholder="台北市新生二路..." name="location"
              value="{{restaurant.location}}" required />
          </span>
        </div>

        <div class="mb-3">
          <span class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            <label for="phone" class="form-label">電話</label>
            <input type="tel" class="form-control" id="phone" placeholder="1234567" name="phone"
              value="{{restaurant.phone}}" required />
          </span>
        </div>

        <div class="mb-3">
          <span class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            <label for="google_map" class="form-label">google連結</label>
            <input type="url" class="form-control" id="google_map" placeholder="1234567" name="google_map"
              value="{{restaurant.phone}}" />
          </span>
        </div>

        <div class="mb-3">
          <span class="text-secondary">
            <i class="fas fa-star fa-xs"></i>
            <label for="rating" class="form-label">評分(0-5)</label>
            <input type="number" class="form-control" placeholder="0-5" id="rating" min="0" max="5" step="0.1"
              name="rating" required />
          </span>
        </div>

        <div class="mb-3">
          <span class="text-secondary">
            <i class="fas fa-pencil-alt"></i>
            <label for="description" class="form-label">店家介紹</label>
            <textarea class="form-control" id="description" rows="3" name="description" placeholder="請輸入店家特色"
              required></textarea>
          </span>
        </div>



        <button type="submit" class="btn btn-primary">Save</button>

        <a href="/">
          <button type="button" class="btn btn-primary">
            back
          </button>
        </a>

      </form>

    </div>
  </div>
</div>